<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-intro:war">
    <output-path>$PROJECT_DIR$/spring-boot-intro/target</output-path>
    <root id="archive" name="spring-boot-intro-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-intro:war exploded" />
    </root>
  </artifact>
</component>